/* Page & Headings */
.heading-space {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .heading{
    display: flex;
    justify-content: center;
  }
  
  .heading-text{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  /* Credits Panel */
  .credits-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .credits {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    font-weight: bold;
    gap: 8px;
  }
  
  .credits-label {
    color: #333;
  }
  
  .credits-value {
    color: #000;
    font-size: 1.5rem;
  }
  
  .credits-icon {
    width: 24px;
    height: 24px;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    row-gap: var(--para-gap-desktop);
  }
  
.ack-container {
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ack-info-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
   }
  .ack-order-id{
    display: flex;
    justify-content: flex-start;
  }
  .ack-order-date{
    display: flex;
    justify-content: flex-end;
  }

  .ack-subtext-container{
    margin-bottom: 3rem;
  }



  .ack-info {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: #555;
    text-align: center;
  }
  
  .ack-items-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    
    margin-bottom: 2rem;
  }
  

  .ack-image-card {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #6b7280; /* slate-500 for placeholder */
    border-radius: 6px;
  }
  

  .ack-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1.5rem;
  }
  .Image .image-wrapper{
    border-radius: 0;
  }
  .quantity-badge {
    position: absolute;
    top: -8px; /* float it outside */
    right: -8px;
    background-color:var(--garage-blue); /* dark slate */
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px white;
    z-index: 10;
    font-family:"Lexend Deca", sans-serif;
  } ;

  /* Tablet: 640px–1200px */
@media (max-width: 1200px) {
  .scroll-more {
    display: none;
  }
 
  .text-section {
    row-gap: var(--para-gap-tablet);
  }
  .banner {
    height: auto;
    min-height: unset;
  }
  .content-wrapper {
    row-gap: 180px;
  }
  .tablet {
    display: unset;
  }
  .tablet-hide {
    display: none;
  }}

/* Mobile: <640px */
@media (max-width: 640px) {
  .section-wrapper {
    row-gap: var(--content-gap-mobile);
  }
  .text-section {
    row-gap: var(--para-gap-mobile);
  }
  .content-wrapper {
    row-gap: 90px;
  }
  .ack-items-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .ack-image-card {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #6b7280; /* slate-500 for placeholder */
    border-radius: 6px;
  }
 
  
} 