* {
    font-family: "Lexend Deca", sans-serif;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gutter);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--content-gap-desktop);
    min-height: 100vh;
    padding-top: var(--top-padding);
    margin-left: 100px;
    max-width: 708px;
    overflow-wrap: break-word;
}

form {
    max-width: 708px;
    width: 100%;
    background: #fff;
    padding: var(--content-gap-desktop) var(--gutter);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: var(--content-gap-desktop);
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--para-gap-desktop);
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap-desktop);
}

.name-container {
    display: flex;
    gap: var(--para-gap-desktop);
}

.input-box {
    flex: 1;
    min-width: 150px;
}

.field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    margin-top: var(--para-gap-desktop);
}

::placeholder {
    color: var(--on-disabled);
}

select.field:invalid {
    color: var(--on-disabled);
}

.message {
    height: 200px;
    resize: none;
}

.upload-file-container {
    display: flex;
    flex-direction: column;
    gap: var(--para-gap-desktop);
}


.upload-title {
    display: flex;
    flex-direction: column;
    gap: var(--para-gap-desktop);
}

.upload-box {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;  /* Dotted border */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.upload-box:hover {
    border-color: var(--garage-blue-hover);
}

form button {
    width: 100%;
    height: 55px;
    background: #284d8a;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: #204279;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--content-gap-desktop);
    padding-top: var(--top-padding);
    min-height: 100vh;
    max-width: 708px;
}
