.heading-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.register-button {
  align-self: flex-start;
  min-width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--content-gap-mobile);
}

.project-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 2rem;
}

.recruiting, .not-recruiting {
  align-self: center;
  position: relative;
  top: 40px;
  z-index: 1;
  color: var(--white);
  padding: 2px 20px;
  border-radius: 8px;
}

.recruiting {
  background-color: var(--garage-blue);
}

.not-recruiting {
  background-color: var(--error);
}